<section class="about py-5">
  <div class="head-section text-center mb-5">
    <h1 class="mb-3">ABOUT COMPONENT</h1>
    <div class="star mx-auto mb-3">
      <i class="fa-solid fa-2x fa-star"></i>
    </div>
  </div>
  <div class="row g-5 py-3 text-my-dark">
    <div class="col-md-6">
      <img src="about.svg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <p class="fw-medium fs-5">
        The day, before sleeping; I recalled everything to crosscheck that 
        whether I was wrong at any point of time! Then I realized it's not
        mandatory that the way you perceive life will be the same in which others
        envision it.
        The day, before sleeping; I recalled everything to crosscheck that 
        whether I was wrong at any point of time! Then I realized it's not
        mandatory that the way you perceive life will be the same in which others
        envision it.
      </p>
    </div>
  </div>
</section>
