<section class="contact py-5">
  <div class="head-section text-center mb-5">
    <h1 class="mb-3">CONTACT COMPONENT</h1>
    <div class="star mx-auto mb-3">
      <i class="fa-solid fa-2x fa-star"></i>
    </div>
    <form class="pt-4 mx-auto" action="">
      <input type="text" class="form-control mb-3" placeholder="Your name">
      <input type="number" class="form-control mb-3" placeholder="Your age">
      <input type="email" class="form-control mb-3" placeholder="Your email">
      <input type="password" class="form-control mb-3" placeholder="Your password">
      <button type="submit" class="btn bg-my-dark text-white px-4 py-2 fs-5 d-block ">Submit</button>
    </form>
  </div>
  
</section>
