<section class="info">
  <div class="container">
    <div class="row row-gap-4 py-5 text-center">
      <div class="col-md-4">
        <h3 class="fs-2">LOCATION</h3>
        <p>2215 John Daniel Drive Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h3 class="fs-2">AROUND THE WEB</h3>
        <ul class="list-unstyled d-flex justify-content-center gap-2">
          <li><i class="fa-brands fs-5 fa-facebook"></i></li>
          <li><i class="fa-brands fs-5 fa-x-twitter"></i></li>
          <li><i class="fa-brands fs-5 fa-linkedin"></i></li>
          <li><i class="fa-brands fs-5 fa-youtube"></i></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="fs-2">ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</section>
