<section class="portfolio py-5">
  <div class="head-section text-center mb-5">
    <h1 class="mb-3">PORTFOLIO COMPONENT</h1>
    <div class="star mx-auto mb-3">
      <i class="fa-solid fa-2x fa-star"></i>
    </div>
  </div>
  <div class="row g-4 py-3 text-my-dark">
    <div class="col-sm-6 col-md-4">
      <div class="image rounded-2 overflow-hidden">
        <img src="images/1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="image rounded-2 overflow-hidden">
        <img src="images/2.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="image rounded-2 overflow-hidden">
        <img src="images/3.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="image rounded-2 overflow-hidden">
        <img src="images/4.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="image rounded-2 overflow-hidden">
        <img src="images/1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="image rounded-2 overflow-hidden">
        <img src="images/2.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
